<!DOCTYPE html>
<html>
  <head>
    <title>Discover Brisbane - Admin Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'admin/admin-login.css' %}" type="text/css"/>
    <meta name="csrf_token" content="{{ csrf_token }}">
  <head>
  <body>
    <div class="container">
    <hr><h2>Discover Brisbane</h2><br><h3>Admin Login</h3><hr>
    <form method='post' action="{% url 'success' %}">{% csrf_token %}
      <div class="form-container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter admin ID" name="uname" required>
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <button id="submit" type="submit">Login</button>
        <button type="button" class="cancelbtn">Cancel</button>
      </div>
    </form>
    <footer>&copy; Discover Brisbane 2017</footer>
    <div>
  </body>
</html>
