<!doctype html>
<html>
  <head>
    <title>Discover Brisbane - Admin</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'admin/admin.css' %}" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  </head>
  <body>

    <div id="container">
      <hr><header><h3>Discover Brisbane - Administration Management</h3></header><hr>
      <div id="topbar">
        <form>
          <span id="user">Username &nbsp;</span><button onclick="" class="logout">Log out</button>
        </form><br><br>
      </div>
      <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'manageAccount')">CreateAccount</button>
        <button class="tablinks" onclick="openCity(event, 'addDelete')">Add/Delete Item Location</button>
        <button class="tablinks" onclick="openCity(event, 'modify')">Modify Item Location</button>
      </div>

      <div id="manageAccount" class="tabcontent">
        <div class="title"><h3>CREATE ADMIN ACCOUNT</h3></div>
        <form>
          Staff ID: <input name="idNum" type="text" required="required" placeholder="Enter staff ID"/><br><br>
          First Name: <input name="firstName" type="text" required="required" placeholder="Enter first name"/><br><br>
          Last Name: <input name="lastName" type="text" required="required" placeholder="Enter last name"/><br><br>
          Email: <input name="email" type="email" required="required" placeholder="Enter e-mail"/><br><br>
          Password: <input name="password" type="password" required="required" placeholder="Create a password"/><br><br>
          Confirm Password: <input name="confirm password" type="password" required="required" placeholder="Re-enter password"/><br><br><br>
          <input type="submit" value="Submit">&nbsp; &nbsp; &nbsp;
          <input type="reset" value="Cancel">
        </form><br><br><hr><br><br>
        <div class="title"><h3>DELETE ACCOUNT</h3></div><br>
          Account ID: <input name="idNum" type="text" required="required" placeholder="Enter ID"/><br><br>
          <input type="submit" value="Delete account">
        <form><br><br><hr><br>
        <div class="title"><h3>RENEW PASSWORD</h3></div><br><br>
          Account ID: <input name="idNum" type="text" required="required" placeholder="Enter ID"/><br><br>
          Password: <input name="password" type="password" required="required" placeholder="Enter password"/><br><br>
          Confirm Password: <input name="confirm password" type="password" required="required" placeholder="Re-enter password"/><br><br>
          <input type="submit" value="Change password"><br><br><br>
        <form>
      </div>

      <div id="addDelete" class="tabcontent">
        <div class="title"><h3>INSERT OR DELETE ITEM LOCATION</h3></div><br>
        <form>
          <select id="selectCategory" onchange="">
            <option value="none">Category</option>
            <option value="Colleges">Colleges</option>
            <option value="Libraries">Libraries</option>
            <option value="Industries">Industries</option>
            <option value="Hotels">Hotels</option>
            <option value="Parks">Parks</option>
            <option value="Zoos">Zoos</option>
            <option value="Museums">Museums</option>
            <option value="Restaurants">Restaurants</option>
            <option value="Malls">Malls</option>
          </select>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <input type="radio" name="addDelete" value="add" id="add"> Add &nbsp; &nbsp; &nbsp;
          <input type="radio" name="addDelete" value="delete" id="delete">Delete<br><br><hr><br>
        </form>
        <div id="addForm">
          Item name: <input name="name" type="text" required="required" placeholder="Enter item name"/><br><br>
          Department type: <input name="department" type="text" placeholder="(optional)"/><br><br>
          Industry type: <input name="industry" type="text" placeholder="(optional)"/><br><br>
          Address: <input name="address" type="text" placeholder="Enter address"/><br><br>
          Phone number: <input name="phone" maxlength="10" placeholder="Enter phone number"/><br><br>
          Email: <input name="email" type="email" required="required" placeholder="Enter e-mail"/><br><br><br>
          <input type="checkbox" name="uploadPhoto" value="photo">Upload photo(s)<br><br>
          <input type="checkbox" name="uploadMap" value="map">Upload map<br><br>
          <input type="submit" value="Add item">&nbsp; &nbsp; &nbsp;
          <input type="reset" value="Cancel">
        </div>
        <div id="deleteForm">
          <select id="selectCategory" onchange="">
            <option value="none">Category</option>
            <option value="Colleges">Colleges</option>
            <option value="Libraries">Libraries</option>
            <option value="Industries">Industries</option>
            <option value="Hotels">Hotels</option>
            <option value="Parks">Parks</option>
            <option value="Zoos">Zoos</option>
            <option value="Museums">Museums</option>
            <option value="Restaurants">Restaurants</option>
            <option value="Malls">Malls</option>
          </select><br><br>
          Item name: <input name="name" type="text" required="required" placeholder="Enter item name"/><br><br>
          <input type="submit" value="Delete item">&nbsp; &nbsp; &nbsp;
          <input type="reset" value="Cancel">
        </div>
      </div>

      <div id="modify" class="tabcontent">
        <div class="title"><h3>MODIFY ITEM LOCATION</h3></div>
          <select id="selectCategory">
            <option value="none">Category</option>
            <option value="Colleges">Colleges</option>
            <option value="Libraries">Libraries</option>
            <option value="Industries">Industries</option>
            <option value="Hotels">Hotels</option>
            <option value="Parks">Parks</option>
            <option value="Zoos">Zoos</option>
            <option value="Museums">Museums</option>
            <option value="Restaurants">Restaurants</option>
            <option value="Malls">Malls</option>
          </select><br><br><br>
          <div id="left">
            <div class="title">Current</div><br><br><br>
            Item name: <span>&emsp; ***from database***</span><br><br>
            Department type: <span>&emsp; ***from database***</span><br><br>
            Industry type: <span>&emsp; ***from database***</span><br><br>
            Address: <span>&emsp; ***from database***</span><br><br>
            Phone number: <span>&emsp; ***from database***</span><br><br>
            Email: <span>&emsp; ***from database***</span><br><br>
          </div>
          <div id="right">
            <div class="title">New changes</div><br><br><br>
            <input name="Newname" type="text" /><br><br>
            <input name="changeDepartment" type="text"/><br><br>
            <input name="changeIndustry" type="text"/><br><br>
            <input name="changeAddress" type="text"/><br><br>
            <input name="changePhone" maxlength="10"/><br><br>
            <input name="changeEmail" type="text"/><br><br><br>
            <input type="checkbox" name="changePhoto" value="photo">Change photo(s)&emsp; &emsp; &emsp;
            <input type="checkbox" name="changeMap" value="map">Change map<br><br><br>
            <input type="submit" value="Submit changes">&nbsp; &nbsp; &nbsp;
            <input type="reset" value="Cancel"><br><br>
          </div>
      </div>
    </div><br><br>
    <footer>&copy; Discover Brisbane 2017</footer>
    <script src="{% static 'admin/admin.js' %}"></script>
  </body>
</html>
