<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Discover Brisbane - Register</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login/login.css' %}" type="text/css"/>
  </head>
  <body>
    <div class="container">
      <hr><header>
        <h1>Discover Brisbane</h1>
      </header><hr>
      <!-- Breadcrumbs -->
      <ul class="History">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li>Register</li>
      </ul>
      <form class="registration-form" action="" method="post">
        <h2> Registration</h2>
        {% csrf_token %}
        {% include 'form-template/form-template.html' %} <br>
        <div class="form-group">
          <div>
            <button type="submit">Submit</button>
          </div>
        </div>
      </form><br><br><hr><br>
      <footer>&copy; Discover Brisbane 2017</footer>
    </div>
  </body>
</html>
