<!DOCTYPE html>
<html lang="en-US">
  <head>
      <title>Search Results</title>
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'result/eelynverdraft.css' %}" type="text/css"/>
  </head>
  <body>
	  <div id="container">
		<div id="topbar">
			<hr><header>
				<h1>Discover Brisbane</h1>
			</header><hr>
			<ul class="History">
			 <li><a href="#">Home</a></li>
				<li>Parks</li>
			</ul>
		</div><br><br>

    {% for location in all_locations %}
    {% if location.category == 'park' %}
		<div class="section">
			<div class="left">
        {% with 'location/'|add:location.photo_name as image_static %}
				<img src="{% static image_static %}" width="200px" class="image">   <!-- can't adjust size on css?? -->
        {% endwith %}
			</div>
			<div class="right">
				<br><br><br><span><a href="/locations/{{ location.location_id }}/">{{ location.name }}</a></span><br><br>
				<span>&nbsp &nbsp &nbsp<b>Address:</b> {{ location.address }}</span>
			 </div>
		</div><hr>
    {% endif %}
    {% endfor %}

<!--static
    <div class="section">
			<div class="left">
				<img src="{% static 'location/qut.jpg' %}" alt="QUT" width="300" class="image">
			</div>
			<div class="right">
				<br><br><br><span><a href="">Queensland University of Technology</a></span><br><br>
				<span>&nbsp &nbsp &nbsp<b>Address:</b> 2 George St, Brisbane City QLD 4000</span>
			 </div>
		</div><hr>
		<div class="section">
			<div class="left">
				<img src="{% static 'location/qut.jpg' %}"  alt="QUT" width="300" class="image">
			</div>
			<div class="right">
				<br><br><br><span><a href="">Queensland University of Technology</a></span><br><br>
				<span>&nbsp &nbsp &nbsp<b>Address:</b> 2 George St, Brisbane City QLD 4000</span>
			 </div>
		</div><hr>
-->
	  <footer>&copy; Discover Brisbane 2017</footer>
      </div>
    </body>
</html>
