body {
  width: 100%;
}

#container, header {
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

header {
  font-size: 180%;
  text-align: left;
  font-variant: small-caps;
  font-weight: bold;
  /*background-image: url("http://www.kanegledhill.com.au/gallery/images/9868/storey-bridge-sunrise-1800.jpg");*/
  color: black;
  border-color: lightgrey;
  border-style:grove;
  padding: 1em;
  clear: left;
}

#topbar {
  text-align: right;
  font-weight: bold;
  height: 20px;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.tab button:hover {
    background-color: #ddd;
}

div.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    padding-left: 5%;
}

.title {
  text-align: center;
  font-weight: bold;
}

#add:not(:checked) ~#addForm{
  display: none;
}

#add:checked ~#addForm{
  display:block;
}

#delete:not(:checked) ~#deleteForm{
  display: none;
}

#delete:checked ~#deleteForm{
  display: block;
}

#modify {
  overflow: auto;
}

#left {
  float: left;
}

#right {
  float: right;
  text-align: left;
  margin-right: 20%;
}

footer {
  text-align: center;
  font-size: 100%;
}
