<!doctype html>
<html>
  <head>
    <title>Discover Brisbane - Business View</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'account/student.css' %}" type="text/css"/>
    <style>
      body {
        background-image: url("/static/account/business.jpeg");
      }
      .label {
        border-radius: 10%;
        background: #174c7c;
        padding: 20%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 300%;
      }
      .label:hover {
        cursor:pointer;
        background-color: black;
      }
    </style>
  </head>
  <body>
      {% include 'topbar/topbar.html' %}
    <div id="container">
      <hr><header>
        <h1>Discover Brisbane</h1>
      </header><hr><br>
      <h2 class="title">Welcome To Your Business View!</h2><br><br>
      <div class="template">
        <div class="tile-left">
          <div class="label">
            <a href="/list/hotelList/">Hotels</a>
          </div>
        </div>
        <div class="tile-middle">
          <div class="label">
            <a href="/list/industryList/">Industries</a>
          </div>
        </div>
        <div class="tile-right">
          <div class="label">
            <a href="/list/parkList/">Parks</a>
          </div>
        </div>
      </div>
      <div class="template">
        <div class="tile-left">
          <div class="label">
            <a href="/list/zooList/">Zoos</a>
          </div>
        </div>
        <div class="tile-middle">
          <div class="label">
            <a href="/list/museumList/">Museums</a>
          </div>
        </div>
        <div class="tile-right">
          <div class="label">
            <a href="/list/restaurantList/">Restaurants</a>
          </div>
        </div>
      </div><div class="template">
        <div class="tile-left">
          <div class="label">
            <a href="/list/mallList/">Malls</a>
          </div>
        </div>
      </div>
    <div class='other'>
      <h3>More for you to explore...</h3>
      <div class="other-link1">
        <a href="/list/collegeList/">Colleges in Brisbane</a>
      </div>
      <div class="other-link2">
        <a href="/list/libraryList/">Libraries in Brisbane</a>
      </div>
    </div>
    <footer>&copy; Discover Brisbane 2017</footer>
  </div>
  </body>
</html>
