<!doctype html>
<html>
  <head>
    <title>Discover Brisbane - Student View</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'account/account.css' %}" type="text/css"/>
  </head>
  <body>
    <div id="topbar">
      {% include 'account/nav.html' %}
    </div>
    <div id="container">
      <hr><header>
        <h1>Discover Brisbane</h1>
      </header><hr><br>
      <h2 class="title">Welcome To Your Personalised Student View!</h2><br>

      <div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="{% static 'homepage/college.png' %}" style="width:100%">
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="{% static 'homepage/library.png' %}" style="width:100%">
    <div class="text">Caption Two</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="{% static 'homepage/restaurant.png' %}" style="width:100%">
    <div class="text">Caption Three</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>






    <!--  <div class="outside">
        <div class="mySlides">
          <a href="/list/collegeList/"><img src="{% static 'homepage/college.png' %}" style="width:100%">
          <div class="text">
            Colleges
          </div>
        </div>
        <div class="mySlides">
          <a href="/list/libraryList/"><img src="{% static 'homepage/library.jpg' %}" style="width:100%">
          <div class="text">
            Libraries
          </div>
        </div>
        <div class="mySlides">
          <a href="/list/parkList/"><img src="{% static 'homepage/park.jpg' %}" style="width:100%">
          <div class="text">
            Parks
          </div>
        </div>
        <div class="mySlides">
          <a href="/list/zooList/"><img src="{% static 'homepage/zoo.jpg' %}" style="width:100%">
          <div class="text">
            Zoos
          </div>
        </div>
        <div class="mySlides">
          <a href="/list/museumList/"><img src="{% static 'homepage/museum.jpg' %}" style="width:100%">
          <div class="text">
            Museums
          </div>
          <div class="mySlides">
            <a href="/list/restaurantList/"><img src="{% static 'homepage/restaurant.jpg' %}" style="width:100%">
            <div class="text">
              Restaurants
            </div>
          </div>
          <div class="mySlides">
            <a href="/list/mallList/"><img src="{% static 'homepage/mall.jpg' %}" style="width:100%">
            <div class="text">
              Malls
            </div>
          </div>
        </div>
        <button class="blue" onclick="plusDivs(-1)">&#10094;</button>
        <button class="blue" onclick="plusDivs(1)">&#10095;</button>
      </div>-->
      <div class='other'>
        <h3>Other categories:</h3>
        <a href="/list/hotelList/">Hotels in Brisbane</a>
        &nbsp &nbsp &nbsp &nbsp &nbsp
        <a href="/list/industryList/">Industries in Brisbane</a><br><br><br><hr>
      </div><br><br><br>
      <footer>&copy; Discover Brisbane 2017</footer>
      <script src="{% static 'account/account.js' %}"></script>
    </div>
  </body>
</html>
