<!doctype html>
<html>
  <head>
    <title>Discover Brisbane - Student View</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'account/account.css' %}" type="text/css"/>

  </head>
  <body>
    <div id="topbar">
      {% include 'list/nav.html' %}
    </div>
    <div id="container">
      <hr><header>
        <h1>Discover Brisbane</h1>
      </header><hr><br>
      <div class="left">
        <br><br><br><br><br><br><br><br><br><br><br>
        <button class="right_arrow" onclick="plusDivs(1)">&#10095;</button>
      </div>
      <div class="right">
        <br><br><br><br><br><br><br><br><br><br><br>
        <button class="left_arrow" onclick="plusDivs(-1)">&#10094;</button>
      </div>
      <h2 class="title">Welcome To Your Personalised Tourist View!</h2><br>
      <div class="slide_container">
        <a href="/list/hotelList/"><img class="images" src="{% static 'homepage/hotel.jpg' %}">
        <a href="/list/parkList/"><img class="images" src="{% static 'homepage/park.jpg' %}">
        <a href="/list/zooList/"><img class="images" src="{% static 'homepage/zoo.jpg' %}">
        <a href="/list/museumList/"><img class="images" src="{% static 'homepage/museum.jpg' %}">
        <a href="/list/restaurantList/"><img class="images" src="{% static 'homepage/restaurant.jpg' %}">
        <a href="/list/mallList/"><img class="images" src="{% static 'homepage/mall.jpg' %}">
      </div><br>
    </div>
    <div class='other'>
      <h3>Other categories:</h3>
      <a href="/list/collegeList/">Colleges in Brisbane</a>
      &nbsp &nbsp &nbsp &nbsp &nbsp
      <a href="/list/libraryList/">Libraries in Brisbane</a>
      &nbsp &nbsp &nbsp &nbsp &nbsp
      <a href="/list/industryList/">Industries in Brisbane</a><br><br><br><hr>
    </div><br><br><br>
    <footer>&copy; Discover Brisbane 2017</footer>
    <script src="{% static 'account/account.js' %}"></script>
  </div>
  </body>
</html>
