<!DOCTYPE html>
<html lang="en-US">
  <head>
      <title>Discover Brisbane - Hotels in Brisbane</title>
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'list/list.css' %}" type="text/css"/>
  </head>
  <body>
	  <div id="container">
        {% include 'topbar/topbar.html' %}
  		<div id="topbar" style="margin-right:0%">
  			<hr><header>
  				<h1>Discover Brisbane</h1>
  			</header><hr>
  			<ul class="History">
  			 <li><a href="{% url 'index' %}">Home</a></li>
         <li>Hotels</li>
  			</ul>
  		</div><br><br>
      {% for location in all_locations %}
        {% if location.category == 'Hotel' %}
          {% include 'list/result.html' %}
        {% endif %}
      {% endfor %}
      <footer style="margin-top:0%">&copy; Discover Brisbane 2017</footer>
    </div>
  </body>
</html>
