body {
    width: 100%;
  }

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

label {
font-weight: bold;
}

form.login-form {
    padding-top: 50px;
    padding-bottom: 80px;
    margin: 0px 150px;
    box-shadow: 1px 1px 15px #acacac;
    text-align: center;
    border-style:grove;
    clear: left;    
}

form.registration-form {
    padding-top: 50px;
    padding-bottom: 80px;
    margin: 0px 150px;
    box-shadow: 1px 1px 4px #acacac;
    text-align: center;
    border-style:grove;
    clear: left;    
}

header {
    font-size: 150%;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
    color: black;
    border-color: lightgrey;
    border-style:grove;
    padding: 1em;
    clear: left;
  }

hr {
    height: 3px;
    background-color: grey;
  }

.content {
    overflow: auto;
  }

/* h2 {
    font-size: 35px;
    text-align: center;
    font-variant: small-caps;
    color: black;
} */

h2 {
    /* padding-left: 2%; */
    text-align: center;
    font-size: 200%;
    color: darkblue;
    font-style: oblique;
    font-weight: bolder;
  }

ul.History {
    text-align: left;
      padding: 10px 16px;
      list-style: none;
      background-color: #eee;
  }
  
  ul.History li {
      display: inline;
      font-size: 18px;
  }
  
  ul.History li+li:before {
      padding: 8px;
      color: black;
      content: "/\00a0";
  }
  
  ul.History li a {
      color: #0275d8;
      text-decoration: none;
  }
  
  ul.History li a:hover {
      color: #01447e;
      text-decoration: underline;
  }

footer {
    text-align: center;
    font-size: 80%;
  }

  

