label {
font-weight: bold;
}

form.login-form {
    padding-top: 50px;
    padding-bottom: 80px;
    margin: 0px 150px;
    box-shadow: 2px 2px 10px #757575;
    text-align: center;
    border-style:grove;
    clear: left;    
}

h1 {
    font-size: 50px;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
    color: black;
    border-color: lightgrey;
    border-style:grove;
    padding: 0.7em;    
    clear: left;
    margin: 30px;
}

hr {
    height: 3px;
    background-color: grey;
  }

.content {
    overflow: auto;
  }

h2 {
    font-size: 35px;
    text-align: center;
    font-variant: small-caps;
    color: black;
}

ul.History {
    width: 100%;
    padding: 8px ;
    list-style: none;
    background-color: #E6E8EA;
}
ul.History li {
    display: inline;
    font-size: 15px;
    color: black;
}
ul.History li+li:before {
    padding: 8px;
    color: grey;
    content: "/\00a0";
}
ul.History li a {
    color: #0275d8;
    text-decoration: none;
}
ul.History li a:hover {
    color: #01447e;
    text-decoration: underline;
}

footer {
    text-align: center;
    font-size: 80%;
  }

  body {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 250px;
    padding-right: 250px;
}
